.dropdown {
	padding: 0 !important;
	border: none !important;
}

.dropdown .icon {
	display: none;
}

.dropdown .default.text {
	margin-left: 0 !important;
}

:host /deep/ .label {
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
