h4 {
	font-weight: bold;
	font-size: 1.2rem;
}

h5 {
	text-transform: uppercase;
	color: #999;
	font-size: 0.95rem;
}

h4,
h5 {
	margin: 0;
}

.description {
	max-width: 269px;
	word-wrap: break-word;
}

:host.unseen {
	border-left: 6px solid #1b98f8;
}

.description,
h4,
h5 {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
}

h4,
h5 {
	-webkit-line-clamp: 1;
}

.description {
	-webkit-line-clamp: 4;
}
