#container {
	padding-left: 500px;
	position: relative;
}

#nav {
	margin-left: -500px;
	width: 150px !important;
	height: 100%;
	position: fixed;
	bottom: 0;
	top: 0;
}

#list {
	margin-left: -350px;
	width: 350px;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	margin-top: 0;
	overflow: auto;
	padding: 0;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}

#main {}

#header {
	position: fixed;
	height: 140px;
	width: calc(100vw - 500px);
}

#view {
	position: fixed;
	top: 140px;
}
