<div id="container">
	<div class="ui inverted basic segment" id="nav">
		<div id="compose" class="ui basic inverted circular button" (click)="compose(); writ.open()">Compose</div>
		<div id="reply" class="ui basic inverted circular button" (click)="compose(); writ.openReply(appStateService.getActiveMail())">Reply</div>
	</div>
	<app-mail-list id="list" [mails]="mailService.getMails()"></app-mail-list>
	<div id="main">
		<app-mail-header id="header" *ngIf="appStateService.getActiveMail()" [mail]="appStateService.getActiveMail()"></app-mail-header>
		<app-mail-view id="view" *ngIf="appStateService.getActiveMail()" [mail]="appStateService.getActiveMail()"></app-mail-view>
	</div>
</div>
<app-mail-writer id="writer" #writ class="ui modal"></app-mail-writer>
