<div id="container">
	<div class="ui inverted segment" id="nav">
		<div class="ui basic inverted circular button">Compose</div>
	</div>
	<div class="ui segment" id="list">
		<app-mail-list [mails]="mails"></app-mail-list>
	</div>
	<div id="main">
		<app-mail-header id="header" *ngIf="appStateService.getActiveMail()" [mail]="appStateService.getActiveMail()"></app-mail-header>
		<app-mail-view id="view" *ngIf="appStateService.getActiveMail()" [mail]="appStateService.getActiveMail()"></app-mail-view>
	</div>
</div>
