:host {
	display: block;
	padding: 1em 2em;
	border-bottom: 1px solid #ddd;
}

iframe {
	border: 0;
	height: calc(100%);
	width: calc(100%);
}

div {
	white-space: pre-wrap;
	padding: 1.2em;
	font-size: 1.1em;
}
