input {
	padding: 3px 0 !important;
	border: none !important;
}

.to.field {
	border-bottom: 1px solid lightgray;
	font-weight: normal;
}

.cc.field {
	border-bottom: 1px solid lightgray;
	font-weight: normal;
}

.subject.field {
	font-size: 1.6rem;
}

.subject.field input {
	padding: 0 !important;
}

#editor-tools {
	float: right;
}
