<div class="ui small form header" [formGroup]="form">
	<div class="to field">
		<app-recipient-selector id="to" formControlName="to"></app-recipient-selector>
	</div>
	<div class="cc field">
		<app-recipient-selector id="cc" formControlName="cc"></app-recipient-selector>
	</div>
	<div class="subject field">
		<input type="text" id="subject" formControlName="subject" placeholder="Subject" />
	</div>
</div>
<div class="content" [formGroup]="form">
	<app-mail-editor formControlName="content"></app-mail-editor>
</div>
<div class="actions">
	<button id="cancel" class="ui cancel button">Cancel</button>
	<button id="send" class="ui primary ok button" [disabled]="!form.valid" (click)="send()">Send</button>
</div>
