<md-dialog-content [formGroup]="form">
	<app-recipient-selector id="recipients" formControlName="recipients" placeholder="Recipients"></app-recipient-selector>
	<md-input-container>
		<input mdInput type="text" id="subject" formControlName="subject" placeholder="Subject" />
	</md-input-container>
	<app-mail-editor formControlName="content"></app-mail-editor>
</md-dialog-content>
<md-dialog-actions>
	<button md-button id="send" [disabled]="!form.valid" (click)="send()">Send</button>
	<button md-button id="cancel" md-dialog-close>Cancel</button>
	<div id="editor-tools"></div>
</md-dialog-actions>
